*{
    font-family: "Poppins", sans-serif;

}

.top-bar {
    background-color: #071C1F;
    padding: 20px 0;
}

.Custom-btn {
    background-color: #FF5A3C;
    padding: 30px 15px;
    color: white;
    border: none;
}

.Custom-btn:hover {
    border: solid 1px #FF5A3C;;
    padding: 30px 15px;
    color: black;
}
