* {
    font-family: "Poppins", sans-serif;

}

.top-bar {
    background-color: #071C1F;
    padding: 20px 0;
    margin: auto;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.nav-items :active {
    color: rgb(0, 0, 0);
}

.nav-items :hover {
    color: FF5A3C;
}

.Custom-btn {
    background-color: #FF5A3C;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 5px;
}

.Custom-btn:hover {
    border: solid 1px #FF5A3C;
    padding: 15px 30px;
    color: black;
}


.hero-cont {
    padding: 100px 0px;
}

.hero-cont h1 {
    font-size: 60px;
    font-weight: bold;
}

.hero-cont p {
    font-size: 16px;
    color: #9EABB3;
    line-height: 25px;
    width: 70%;
}
.Features h2 {
    font-size: 30px;
    font-weight: 700;
    width: 30%;
}

.Features p {
    font-size: 16px;
    color: #9EABB3;
    width: 30%;
    line-height: 30px;
}


.features-box-left img {
    width: 118px;
    height: auto;

}

.features-box-left h4 {
    font-size: 20px;
    font-weight: 700;
}

.features-box-left p {
    font-size: 16px;
    color: #9EABB3;
    line-height: 25px;
    font-weight: 300;

}


.features-box-right img {
    width: 118px;
    height: auto;

}

.features-box-right h4 {
    font-size: 20px;
    font-weight: 700;
}

.features-box-right p {
    font-size: 16px;
    color: #9EABB3;
    line-height: 25px;
    font-weight: 300;


}

.features-box-center {
    background-color: #FF5A3C;

}
.features-box-center img {
    width: 118px;
    height: auto;

}

.features-box-center h4 {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.features-box-center p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    font-weight: 300;


}

.features-2 h3 {
    font-size: 30px;
    font-weight: 700;
    width: 70%;
}

.features-2 p {
    font-size: 16px;
    color: #9EABB3;
    line-height: 25px;
    font-weight: 300;
    width: 70%;
}


.features-2-item h4 {
    font-size: 20px;
    font-weight: 500;
}
.features-2-item p {
    font-size: 12px;
    color: #9EABB3;
    line-height: 25px;
    font-weight: 300;
}


.Featured-Property {
    padding: 100px;
}

.Featured-Property h3 {
    font-size: 30px;
    font-weight: bold;
}